.search-box{
  padding: 90px 10px 10px;
}
.search-box input{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  justify-content: space-between;
  background-color: aqua;
  position: fixed;
}

.last-nav{
  float: right;
}
#userWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
#userWrapper .row {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#userWrapper .row:nth-of-type(odd){
  background: #666;
}
#userWrapper .row:nth-of-type(even){
  background: #dedede;
}

#userWrapper .row .user-image{
  float: left;
  margin: 0 10px 0;
}
